{% extends 'MobikeApp/base/base.html' %}
{% load static %}
{%block nav%}
<nav>
    <ul id="mainmenu">    
        <li><a href="{% url 'Admin-mobike' %}">Atras</a></li>                            
        <li><a href="{% url 'Login' %}">Cerrar sesion</a></li>
    </ul>
</nav>
{%endblock%}

{% block content %}

<!-- section begin -->
<section id="section-about">
    <div class="container">

            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h1 class="animated h3" data-animation="fadeInUp">Gestion de usuarios Mobike
                        <span class="small-border animated" data-animation="fadeInUp"></span>
                    </h1>                           
                </div>
            </div>

            <div class="btn-agregar-user">
              <a href="{% url 'CrearUsuarios' %}">
                <button>Agregar usuario</button>
              </a>              
            </div>
            
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">                      
                <thead>
                    <tr>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Edad</th>
                        <th>Email</th>
                        <th>Direccion</th>
                        <th>Fecha registro</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
               
                <tbody>

                  {% for user in usuarios %}
                  <tr>
                    <td>{{user.nombres}}</td>
                    <td>{{user.apellidos}}</td>
                    <td>{{user.edad}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.direccion}}</td>
                    <td>{{user.created|date:"d/m/Y"}}</td>
                    <td class="icon-table">
                        <i class="fas fa-pen-square"></i>
                        <i class="fas fa-minus-square"></i>
                        <button>Ver más</button>
                    </td>                           
                  </tr>
                  {% endfor %}

                </tbody>
              </table>
    </div>
</section>
<!-- section close -->

{% endblock %}